<div class="col-lg-6 col-lg-offset-3 panel panel-body">
	<div class="row tp-10">
		<div class="col-lg-12 text-center">
			<span class="alert alert-success" ng-show="success">Your account details have been successfully updated!</span>
		</div>
	</div>
	<div class="row tp-20">
		<div class="col-lg-12">

			<form>
				<div class="text-center">
					<div id="user-image-container" ng-hide="showEditor">
						<img class="img-thumbnail user_image" ng-src="{{user.image_url}}"/>
					</div>
					<a href="javascript:;" class="btn btn-primary" ng-click="showEditor=!showEditor" ng-hide="showEditor">Edit Picture</a>
					<div class="image-editor text-center" ng-show="showEditor">
						<div class="cropit-image-preview-container">
							<div class="cropit-image-preview"></div>
						</div>
						<input type="file" file-read="user.image" class="cropit-image-input bm-20" accept="image/*">
						<div class="slider-wrapper">
							<span class="icon small-image"></span>
							<input step="0.01" max="1" min="0" class="cropit-image-zoom-input custom" type="range">
							<span class="icon large-image"></span>
						</div>
						<button class="btn btn-primary" ng-click="savePicture()">Save Picture</button>
						<button class="btn btn-default" ng-click="showEditor=!showEditor">Cancel</button>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">First Name:</label>
					<span class="alert alert-sm alert-warning" ng-show="error.first_name" ng-cloak>First Name {{ error.first_name[0] }}</span>
					<input name="first_name" type="text" ng-model="user.first_name" class="form-control floating-label"/>
				</div>

				<div class="form-group">
					<label class="control-label">Last Name:</label>
					<span class="alert alert-sm alert-warning" ng-show="error.last_name">Last Name {{ error.last_name[0] }}</span>
					<input name="last_name" type="text" ng-model="user.last_name" class="form-control"/>
				</div>

				<div class="form-group">
					<label class="control-label">Email:</label>
					<span class="alert alert-sm alert-warning" ng-show="error.email">Email {{ error.email[0] }}</span>
					<input name="email" type="email" ng-model="user.email" class="form-control"/>
				</div>
				<div class="form-group">
					<label class="control-label">Username</label>
					<span class="alert alert-sm alert-warning" ng-show="error.username">Username {{ error.username[0] }}</span>
					<input name="username" type="text" ng-model="user.username" class="form-control"/>
				</div>
				<div class="form-group">
					<label class="control-label">New Password (Optional):</label>
					<span class="alert alert-sm alert-warning" ng-show="error.password">Password {{ error.password[0] }}</span>
					<input name="password" type="password" ng-model="user.password" class="form-control"/>
				</div>
				<div class="form-group" ng-show="user.password">
					<label class="control-label">Confirm New Password:</label>
					<span class="alert alert-sm alert-warning" ng-show="error.password_confirmation">Password {{ error.password_confirmation[0] }}</span>
					<input name="password_confirmation" type="password" ng-model="user.password_confirmation" class="form-control"/>
				</div>
				<hr/>
				<div class="form-group">
					<label class="control-label">Current Password:</label>
					<span class="alert alert-sm alert-warning" ng-show="error.current_password">Password {{ error.current_password[0] }}</span>
					<input name="current_password" type="password" ng-model="user.current_password" class="form-control"/>
				</div>
				<br>
				<input type="submit" class="btn btn-success" ng-disabled="!user.current_password" value="Save" ng-click="save()">
				<input type="submit" class="btn btn-danger" ng-disabled="!user.current_password" value="Delete Account" ng-click="delete()">
			</form>
		</div>
	</div>
</div>


<!--<div class="overlay-bg">-->

<!--<div class="overlay-content">-->
<!--<p>Please enter your current password to save your new account information</p>-->
<!--<form id="edit_account_password_form">-->
<!--Password:<input name="password" type="password">-->
<!--</form>-->
<!--<button id="passwordFormSaveButton" class="btn btn-success">Save</button>-->
<!--<button id="passwordFormCancelButton" class="btn btn-danger">Cancel</button>-->
<!--</div>-->

<!--<div id="edit_account_dialogue" class="dialogue">-->
<!--<p id="edit_account_dialogue_information"></p>-->
<!--<button id="edit_account_dialogue_ok_button" class="btn btn-success">Ok</button>-->
<!--</div>-->

<!--<div id="delete_account_dialogue" class="dialogue">-->
<!--<p>Are you sure you want to delete your account?</p>-->
<!--<p>Please enter your password above to proceed</p>-->
<!--<form id="delete_account_password_form">-->
<!--Password:<input name="password" type="password">-->
<!--</form>-->
<!--<button id="delete_account_confirm_button" class="btn btn-success">Delete Account</button>-->
<!--<button id="delete_account_cancel_button" class="btn btn-danger">Cancel</button>-->
<!--</div>-->

<!--</div>-->
<!-- -->