<div class="row" id="gameRow">
	<div class="col-sm-12 col-md-8" id="gameCol">
		<div class="row" id="leaveRoomRow">
			<div class="col-xs-12 text-right" id="leaveRoomCol">
				<a class="btn btn-primary btn-raised" id="leaveRoomBtn" ng-click="leaveRoom()">Leave Room</a>
			</div>
		</div>

		<div class="row" id="tableRow">
			<div class="col-xs-12" id="tableCol">
				<a class="btn btn-primary" ng-show="gameRoom.players.length >= 2 && !gameRoom.active" ng-click="start()">Start Game</a>

				<div class="col-xs-4">
					<div ng-repeat="p in gameRoom.players">
						<div ng-hide="!p.hand || p.hand.fold">
							<img class="card bm-10" ng-src="{{p.hand.cards[i].image_path}}" ng-repeat="i in [0,1]">
						</div>

						<p ng-class="{'bold': p.hand.current}">{{p.owner.first_name}} (${{p.chips}}): Bet: ${{p.hand.bet}}</p>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="bm-20 text-center">
						<img class="card" ng-src="{{round.cards[i].image_path}}" ng-repeat="i in [0,1,2,3,4]">
						<h3>Pot: ${{round.pot}}</h3>
						<p>Big Blind: ${{round.big_blind}} / Small Blind: ${{round.small_blind}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="userChoicesRow" ng-show="turn">
			<div class="col-xs-4" id="checkCallCol">
				<button class="col-xs-12 btn btn-success btn-raised" ng-hide="allInCall" id="checkBtn" ng-click="bet(round.call_bet)" type="button">
					<span ng-show="betMatches">Check</span>
					<span ng-hide="betMatches">Call - ${{round.call_bet}}</span>
				</button>
			</div>

			<div class="col-xs-4" id="raiseCol">
				<button class="col-xs-12 btn btn-danger btn-raised" id="raiseBtn" ng-click="bet(round.raise_bet)" type="button">
					<span ng-show="allInRaise">All In</span>
					<span ng-hide="allInRaise">Raise - ${{round.raise_bet}}</span>
				</button>
			</div>

			<div class="col-xs-4" id="foldCol">
				<button class="col-xs-12 btn btn-warning btn-raised" id="foldBtn" ng-click="bet(-1)" type="button">Fold</button>
			</div>
		</div>
	</div>

	<div class="col-md-4 hidden-sm" id="feedChatCol">
			<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Feed</h3>
			</div>
			<div class="panel-body">
				<ul id="feed" class="list-unstyled" scroll-bottom="feed">
					<li ng-repeat="status in feed track by $index" ng-bind-html="status | trusted">{{status}}</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Chat</h3>
			</div>
			<div class="panel-body">
				<ul id="messages" class="list-unstyled" scroll-bottom="messages">
					<li ng-repeat="m in messages"><p><strong>{{m.user.first_name}}:</strong>&nbsp; {{m.content}}</p></li>
				</ul>
			</div>

			<form class="panel-body" ng-submit="sendMessage()">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" ng-model="message" placeholder="Enter Message Here"/>
              <span class="input-group-btn">
                <button class="btn btn-primary btn-raised" ng-disabled="sending" type="submit">Send</button>
              </span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>