<div class="row">
	<div class="panel panel-body col-xs-8">
		<div class="row">
			<div class="col-xs-12 text-right">
				<a class="btn btn-default" ng-click="leaveRoom()">Leave Room</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p ng-repeat="p in gameRoom.players">{{p._id}}: {{p.owner.first_name}} {{p.owner.last_name}} {{p.buy_in}}</p>
				<a class="btn btn-primary" ng-show="gameRoom.players.length >= 2" ng-click="start()">Start Game</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4">
					<button class="col-xs-12 btn btn-primary" type="button">Check/Call</button>
				</div>

				<div class="col-xs-4">
					<button class="col-xs-12 btn btn-danger" type="button">Raise</button>
				</div>

				<div class="col-xs-4">
					<button class="col-xs-12 btn btn-warning" type="button">Fold</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center">Your Bet</h3>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center">Bet Limits</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-4 hidden-xs">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Feed</h3>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li>Feed info - to be repeated (via angular)</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Chat</h3>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li ng-repeat="m in messages"><p><strong>{{m.user.first_name}}:</strong>&nbsp; {{m.content}}</p></li>
				</ul>
			</div>

			<form class="panel-body" ng-submit="sendMessage()">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" ng-model="message" placeholder="Enter Message Here" />
              <span class="input-group-btn">
                <button class="btn btn-primary" ng-class="{'disabled': sending}" type="submit">Send</button>
              </span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
