<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-lg-6">
			<h1>Welcome, {{user.first_name}}!</h1>
		</div>
		<div class="col-lg-6">
			<button class="btn btn-primary pull-right" ng-click="open()"><i class="fa fa-plus"></i> Create Game Room</button>
		</div>
	</div>
</div>
<hr>
<div class="panel panel-default">
	<div class="panel-body">
		<h4 class="text-center" ng-show="rooms.length == 0">There are currently no game rooms. Be the first to create one!</h4>
		<table class="table table-striped" ng-hide="loading || rooms.length == 0">
			<tr>
				<th>Room Name</th>
				<th class="text-center">Max Players</th>
				<th class="text-center">Min Bet</th>
				<th></th>
			</tr>
			<tr ng-repeat="room in rooms">
				<td>{{room.name}}</td>
				<td class="text-center">{{room.max_players}}</td>
				<td class="text-center">$ {{room.min_bet}}</td>
				<td width="10%"><a ng-href="#/gameroom/{{room._id}}" class="btn btn-primary">Join</a></td>
			</tr>
		</table>
	</div>
</div>