<div>
	<div class="modal-header">
		<h3>Create Game Room</h3>
		<hr />
	</div>
	<form ng-submit="register()">
		<div class="modal-body">
				<input type="text" class="form-control" placeholder="Name" ng-model="gameroom.name">
				<input type="text" class="form-control" placeholder="Min bet" ng-model="gameroom.min_bet">
		</div>
		<div class="modal-footer">
			<a ng-click="dismiss()" class="btn btn-default">Cancel</a>&nbsp;
			<input type="submit" class="btn btn-primary lm-10 pull-right" ng-click="ok()" value="Create">
		</div>
	</form>
</div>
