<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>POKER</title>
        <meta charset="UTF-8">
        <meta name="assets/Bootstrap/viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/Bootstrap/bootstrap.css" rel="stylesheet">
        <link href="assets/Bootstrap/bootstrap.min.css" rel="stylesheet">
        <script src="assets/Bootstrap/jquery.js"></script>
        <script src="assets/Bootstrap/bootstrap.min.js"></script>
        <script src="assets/Bootstrap/angular.min.js"></script>
    </head>
    <body>
        <div data-ng-app="login" data-ng-controller="login_ctrl" class="container">
            <center>
                <form action="attempt_login" method="post" class="form-inline" id="sign_in_form">
                    <br>
                    <div class="form-group">
                        <input type="text" data-ng-model="username" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <br><br>    
                    <div class="form-group">
                        <input type="password" data-ng-model="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <br> <br>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                    <a href="registration"><button type="button" class="btn btn-danger">REGISTRATION</button></a>

                </form>
                <% if flash[:notice] %>
                <div class="notice"><%= flash[:notice] %></div>
                <% end %>   
            </center>               
        </div>
    </body>
</html>
