<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
        <meta name="assets/Bootstrap/viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/Bootstrap/bootstrap.css" rel="stylesheet">
        <link href="assets/Bootstrap/bootstrap.min.css" rel="stylesheet">
        <script src="assets/Bootstrap/jquery.js"></script>
        <script src="assets/Bootstrap/bootstrap.min.js"></script>
        <script src="assets/Bootstrap/angular.min.js"></script>
    </head>
    <body>
        <div data-ng-app="signup" data-ng-controller="signup_ctrl" class="container">
            
            <form action="createuser" method="post" class="form-inline" id="registration_form">
                <div class="form-group">
                    <h2>SIGN UP</h2>
                    <br>
                    <input type="text" data-ng-model="name" id="name" name="name" class="form-control" placeholder="Name">
                    <br><br>
                    <input type="email" data-ng-model="email" id="email" name="email" class="form-control" placeholder="Email">
                    <br><br>
                    <input type="text" data-ng-model="uname" id="username" name="username" class="form-control" placeholder="Username">
                    <br><br>
                    <input type="password" data-ng-model="password" id="password" name="password" class="form-control" placeholder="Password">
                    <br><br>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button type="submit" id="btn" class="btn btn-primary">SIGN UP</button>
                    <button type="reset" class="btn btn-danger">RESET</button>
                </div>
            </form>
            </div>

            <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
            <% end %>
        
    </body>
</html>
