.page.ng-leave {
  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

.page-login.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;
}

.page-login.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in;
}

#status-toast.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;
}

#status-toast.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in;
}

.fade-out-up,
.fade-out-up * {
  -webkit-transition: all 0.5s;
  -moz-animation: all 0.5s;
  transition: all 0.5s;
}

.fade-out-up.ng-hide,
.fade-out-up.ng-hide * {
  height: 0;
  opacity: 0;
}

.fade-in-up.ng-hide {
  opacity: 0;
  -webkit-transition: all 0s;
  -moz-animation: all 0s;
  transition: all 0s;
}

.fade-in-up.ng-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  -moz-animation: all 1.5s;
  transition: all 1.5s;
}

.fade {
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 0.5s;
  -moz-animation: all 0.5s;
  transition: all 0.5s;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}

.pop-repeat.ng-move,
.pop-repeat.ng-enter,
.pop-repeat.ng-leave {
  transition:all linear 0.35s;
}

.pop-repeat.ng-leave.ng-leave-active,
.pop-repeat.ng-move,
.pop-repeat.ng-enter {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.pop-repeat.ng-leave,
.pop-repeat.ng-move.ng-move-active,
.pop-repeat.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pop-repeat.ng-enter-stagger {
  -webkit-transition-delay:0.1s;
  transition-delay:0.1s;

  -webkit-transition-duration:0;
  transition-duration:0;
}

.badge,
.label{
  transition: background-color 0.26s linear 0s;
  &[class*="-add"] {
    background-color: red;
  }
}

.player-icon.current{
  transition: background-color 0.26s linear 0s;
  animation: breathing 1.5s linear infinite;
}

@-webkit-keyframes breathing {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: gold;
  }

  100% {
    background-color: #fff;
  }
}

@keyframes breathing {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: gold;
  }

  100% {
    background-color: #fff;
  }
}

$spinner-primary: blue;
$spinner-warning: orange;
$spinner-danger: red;
$spinner-size: 30px;

.spinner {
  border-radius: 50%;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  background: #eee;
  width: $spinner-size;
  height: $spinner-size;
  position: absolute;
  right: -$spinner-size - 5px;
  top: -20px;
  margin: 20px auto;

  .spinner-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border-width: $spinner-size/2;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: inner 15s linear infinite;
  }

  .spinner-mask {
    position: absolute;
    top: 1px;
    left: 0;
    background: transparent;
    border-width: $spinner-size/2;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #eee;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: mask 15s linear infinite;
  }
  .spinner-mask:after, .spinner-mask-two {
    display: block;
    content: '';
    opacity: 0;
    position: absolute;
    top: 1px;
    left: 0;
    background: transparent;
    border-width: $spinner-size/2;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-transform: rotate(45deg);
    -webkit-animation: mask-two 15s linear infinite;
  }
}

@-webkit-keyframes inner {
  0% {
    -webkit-transform: rotate(-45deg);
    border-top-color: $spinner-primary;
  }
  25% {border-left-color:transparent;}
  26% {
    border-left-color:  $spinner-primary;
  }
  50% {border-bottom-color:transparent;}
  51% {
    border-top-color: $spinner-primary;
    border-left-color:  $spinner-primary;
    border-bottom-color:  $spinner-primary;
  }
  75% {border-right-color:transparent;}
  76% {
    border-right-color: $spinner-warning;
    border-top-color: $spinner-warning;
    border-left-color:  $spinner-warning;
    border-bottom-color:  $spinner-warning;
  }
  100% {
    -webkit-transform: rotate(315deg);
    border-left-color:  $spinner-danger;
    border-bottom-color:  $spinner-danger;;
    border-right-color:  $spinner-danger;;
    border-top-color: $spinner-danger;;
  }
}

@-webkit-keyframes mask {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes mask-two {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: 1;
    border-top-color: $spinner-primary;
  }
  51% {
    opacity: 1;
    border-top-color: $spinner-primary;
  }
  76% {
    opacity: 1;
    border-top-color: $spinner-warning;
  }
  100% {
    opacity: 1;
    border-top-color: $spinner-danger;
  }
}

@-webkit-keyframes whee {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-filter: sepia() hue-rotate(0deg) contrast(95%);
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-filter: sepia() hue-rotate(360deg) contrast(95%);
  }
}

flipper {
  float:left;
  width: 79px;
  height: 100px;
  display:block;
  perspective:1000;
  margin-bottom: 20px;

  span {
    color:white;
  }

  >div.flipper {
    float:left;
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;

    .front, .back {
      float:left;
      display:block;
      width:100%;
      height:100%;
      backface-visibility:hidden;
      position:absolute;
      top:0;
      left:0;
      transform-style:preserve-3d;
      transition:transform ease 500ms;
    }

    .front {
      z-index:2;

      /* front tile styles go here! */
    }

    .back {

      /* back tile styles go here! */
    }
  }
}

flipper[horizontal] {
  .front {
    transform:rotateY(0deg);
  }

  .back {
    transform:rotateY(-180deg);
  }

  div.flipper.flipped{
    .front {
      transform:rotateY(180deg);
    }

    .back {
      transform:rotateY(0deg);
    }
  }
}

.flash-repeat{
  padding: 0 4px 0 4px;
  border-radius: 4px;
}

.flash-repeat.ng-move,
.flash-repeat.ng-enter,
.flash-repeat.ng-leave {
  background-color: rgba(243, 214, 31, 0.4);
  transition: all ease-in 2s;
}

.flash-repeat.ng-leave.ng-leave-active,
.flash-repeat.ng-move,
.flash-repeat.ng-enter {
}

.flash-repeat.ng-leave,
.flash-repeat.ng-move.ng-move-active,
.flash-repeat.ng-enter.ng-enter-active {
  background-color: transparent;
}