.page.ng-leave {
  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

.page-login.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;
}

.page-login.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in;
}

#status-toast.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;
}

#status-toast.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in;
}

.fade-out-up,
.fade-out-up * {
  -webkit-transition: all 0.5s;
  -moz-animation: all 0.5s;
  transition: all 0.5s;
}

.fade-out-up.ng-hide,
.fade-out-up.ng-hide * {
  height: 0;
  opacity: 0;
}

.fade-in-up.ng-hide {
  opacity: 0;
  -webkit-transition: all 0s;
  -moz-animation: all 0s;
  transition: all 0s;
}

.fade-in-up.ng-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  -moz-animation: all 1.5s;
  transition: all 1.5s;
}

.fade {
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 0.5s;
  -moz-animation: all 0.5s;
  transition: all 0.5s;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}

.pop-repeat.ng-move,
.pop-repeat.ng-enter,
.pop-repeat.ng-leave {
  transition:all linear 0.35s;
}

.pop-repeat.ng-leave.ng-leave-active,
.pop-repeat.ng-move,
.pop-repeat.ng-enter {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.pop-repeat.ng-leave,
.pop-repeat.ng-move.ng-move-active,
.pop-repeat.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pop-repeat.ng-enter-stagger {
  -webkit-transition-delay:0.1s;
  transition-delay:0.1s;

  -webkit-transition-duration:0;
  transition-duration:0;
}

.badge{
  transition: background-color 0.26s linear 0s;
  &[class*="-add"] {
    background-color: red;
  }
}