/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-material-design/dist/css/material
 *= require font-awesome/scss/font-awesome
 *= require roboto-fontface/css/roboto-fontface.scss
 *= require_tree .
 *= require_self
 */

body{
    background-color: #232D33;
    background-image: url('bg.jpg');
    background-size: 100% auto;
}

/* Margin and Padding styles */
@for $i from 0 through 10{
  $i: $i * 5;

  .tm-#{$i} {
    margin-top: #{$i}px;
  }
  .bm-#{$i} {
    margin-bottom: #{$i}px;
  }
  .lm-#{$i} {
    margin-left: #{$i}px;
  }
  .rm-#{$i} {
    margin-right: #{$i}px;
  }
  .tp-#{$i} {
    padding-top: #{$i}px;
  }
  .bp-#{$i} {
    padding-bottom: #{$i}px;
  }
  .lp-#{$i} {
    padding-left: #{$i}px;
  }
  .rp-#{$i} {
    padding-right: #{$i}px;
  }
}

/*Material Bootstrap Overrides*/
.panel{
    border-radius: 6px;
}

.panel:not(.header):hover {
    box-shadow: rgba(0,0,0,.2) 0 1.8px 9px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-bottom: 3px solid #EB0011;
}

.alert{
    border-radius: 4px;
}

.alert-sm{
    padding: 5px 10px;
}

.alert-warning{
    background-color: #F19D00;
}

.form-control{
    margin-top: 20px;
    margin-bottom: 20px;
}