@font-face {
  font-family: 'FontAwesome';
  src: font-url('font-awesome/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: font-url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  font-url('font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
  font-url('font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
  font-url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
  font-url('font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-Thin.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Thin.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Thin.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Thin.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Thin.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src:  font-url('roboto-fontface/fonts/Roboto-Thin.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Thin.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Thin.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Thin.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Thin.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-ThinItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src:  font-url('roboto-fontface/fonts/Roboto-ThinItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-ThinItalic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-Light.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Light.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Light.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Light.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Light.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src:  font-url('roboto-fontface/fonts/Roboto-Light.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Light.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Light.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Light.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Light.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-LightItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src:  font-url('roboto-fontface/fonts/Roboto-LightItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-LightItalic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-Regular.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Regular.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Regular.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Regular.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src:  font-url('roboto-fontface/fonts/Roboto-Regular.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Regular.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Regular.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Regular.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-RegularItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-RegularItalic';
  src:  font-url('roboto-fontface/fonts/Roboto-RegularItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-RegularItalic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-Medium.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Medium.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Medium.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Medium.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Medium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src:  font-url('roboto-fontface/fonts/Roboto-Medium.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Medium.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Medium.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Medium.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Medium.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-MediumItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src:  font-url('roboto-fontface/fonts/Roboto-MediumItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-MediumItalic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-Bold.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Bold.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Bold.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Bold.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Bold.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src:  font-url('roboto-fontface/fonts/Roboto-Bold.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Bold.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Bold.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Bold.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Bold.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-BoldItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src:  font-url('roboto-fontface/fonts/Roboto-BoldItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-BoldItalic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-Black.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Black.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Black.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Black.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Black.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src:  font-url('roboto-fontface/fonts/Roboto-Black.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-Black.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-Black.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-Black.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-Black.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src:  font-url('roboto-fontface/fonts/Roboto-BlackItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src:  font-url('roboto-fontface/fonts/Roboto-BlackItalic.eot');
  src:  font-url('roboto-fontface/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.woff2') format('woff2'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.woff') format('woff'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.ttf') format('truetype'),
  font-url('roboto-fontface/fonts/Roboto-BlackItalic.svg#Roboto') format('svg');
}