.red {
  color: red;
}

.user_image {
  width: 150px;
  height: 150px;
}

.user_thumb {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.result-popup{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 700px;
  text-align: center;
  color: #fff;
  top: 160px;
  left: 48%;
  margin-left: -350px;
  border-radius: 8px;
  z-index: 1000;
}

.btn.start{
  position: absolute;
  top: 175px;
  left: 462px;
}

#feed-chat-bar {
  position: absolute;
  right: 5px;
  width: 15%;
}

#chat {
  height: 250px;
  overflow: auto;
  word-wrap: break-word;
}

#feed {
  height: 150px;
  overflow: auto;
}

#gamecontainer {
  position: relative;
}

.user_image {
  width: 150px;
  height: 150px;
}

#pokertable {
  width: 950px;
  margin-left: 70px;
  margin-right: 70px;
}

#communal {
  width: 420px;
  position: absolute;
  top: 150px;
  text-align: center;
  left: 350px;
  color: #fff;
}

#user-action-row {
  left: 15%;
}

.player {
  position: relative;
  width: 100px;
}

.player-icon {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #fff;
  width: 100px;
}

.player-hand {
  position: absolute;

  .card {
    height: 90px;
    margin-left: 2px;
    margin-right: 2px;
  }

  flipper{
    width: 69px;
  }
}

.player-card-2 {
  left: -45px;
  top: 12px;
}

#player-1 {
  left: 175px;
  top: -575px;
}

#player-1 .player-hand {
  bottom: -180px;
  right: -140px;
}

#player-2 {
  top: -600px;
  left: 550px;
}

#player-2 .player-hand {
  bottom: -180px;
  left: -95px;
}

#player-3 {
  top: -575px;
  left: 825px;
}

#player-3 .player-hand {
  bottom: -180px;
  left: -95px;
}

#player-4 {
  left: 950px;
  bottom: 380px;
}

#player-4 .player-hand {
  top: 30px;
  left: -100px;
}

#player-5 {
  top: -150px;
  left: 850px;
}

#player-5 .player-hand {
  top: -60px;
  left: -90px;
}

#player-6 {
  top: -150px;
  left: 175px;
}

#player-6 .player-hand {
  top: -60px;
  right: -135px;
}

#player-7 {
  left: 20px;
  bottom: 380px;
}

#player-7 .player-hand {
  top: 30px;
  right: -135px;
}
