/* RESULT POP-UP */

.result-popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  color: #fff;
  top: 40%;
  border-radius: 8px;
  z-index: 9000;
}

/* BACKGROUND ELEMENTS */

#game-container {
  position: relative;
}

#start-game-col {
  position: absolute;
  top: 45%;
}

/* POKER TABLE */

#poker-table {
  width: 100%;
  padding: 150px 25px 75px;
}

#poker-table-img {
  width: 100%;
  height: auto;
}

/* COMMUNAL CARD AREA */

#communal-col {
  position: absolute;
  top: 40%;
}

#communal {
  margin-bottom: 5px;
}

/* POT AND BLINDS */

#pot-blinds-info {
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.pot-blinds-text {
  font-weight: bold;
}

#pot {
  font-size: 24px;
}

@media (max-width: 1199px) {
  #pot {
    font-size: 16px;
  }
  
  #blinds {
    font-size: 12px;
  }
}

#pot-text {
  color: darkorange;
}

#big-blind {
  color: red;
}

#small-blind {
  color: green;
}

/* POKER CARDS */

.poker-card {
  width: 50px;
  height: auto;
}

@media (max-width: 1199px) {
  .poker-card {
    width: 40px;
  }
}

/* PLAYER INFO */

.player {
  position: absolute;
  width: 105px;
}

@media (max-width: 1199px) {
  .player {
    width: 85px;
  }
}

.player-info {
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #fff;
  margin: 5px;
}

.player-info.current {
  background-color: gold;
}

.player-name {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.player-cash {
  overflow: hidden;
  text-overflow: "+)";
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

.hand-status {
  overflow: hidden;
  text-overflow: "+";
  -o-text-overflow: "+";
  white-space: nowrap;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .player-name, .player-cash, .hand-status {
    font-size: 12px;
  }
}

.player-img {
  width: 100%;
}

.player-hand {
  position: absolute;
}

.player-card-1 {
  position: absolute;
  left: 15px;
}

.player-card-2 {
  position: absolute;
  left: 40px;
  top: 18px;
}

@media (max-width: 1199px) {
  .player-card-1 {
    left: 15px;
  }

  .player-card-2 {
    left: 30px;
    top: 15px;
  }
}

/* PLAYER POSITIONS */

/* top middle */
#player-1 {
  left: calc(50% - 50px);
  left: -webkit-calc(50% - 50px);
  left: -moz-calc(50% - 50px);
  top: 0%;
}

/* top right */
#player-2 {
  right: calc(20% - 50px);
  right: -webkit-calc(20% - 50px);
  right: -moz-calc(20% - 50px);
  top: 5%;
}

#player-2 .player-hand {
  left: -50px;
}

@media (max-width: 1199px) {
  #player-2 .player-hand {
    left: -40px;
  }
}

/* middle right */
#player-3 {
  right: 0%;
  top: 35%;
}

#player-3 .player-hand {
  left: -90px;
  top: 45px;
}

@media (max-width: 1199px) {
  #player-3 .player-hand {
    left: -70px;
    top: 40px;
  }
}

/* bottom right */
#player-4 {
  right: calc(20% - 50px);
  right: -webkit-calc(20% - 50px);
  right: -moz-calc(20% - 50px);
  top: 70%;
}

#player-4 .player-hand {
  left: -50px;
  top: -90px;
}

@media (max-width: 1199px) {
  #player-4 .player-hand {
    left: -40px;
    top: -75px;
  }
}

/* bottom middle */
#player-5 {
  left: calc(50% - 50px);
  left: -webkit-calc(50% - 50px);
  left: -moz-calc(50% - 50px);
  top: 75%;
}

#player-5 .player-hand {
  top: -90px;
}

@media (max-width: 1199px) {
  #player-5 .player-hand {
    top: -75px;
  }
}

/* bottom left */
#player-6 {
  left: calc(20% - 50px);
  left: -webkit-calc(20% - 50px);
  left: -moz-calc(20% - 50px);
  top: 70%;
}

#player-6 .player-hand {
  left: 50px;
  top: -90px;
}

@media (max-width: 1199px) {
  #player-6 .player-hand {
    left: 40px;
    top: -75px;
  }
}

/* middle left */
#player-7 {
  left: 0%;
  top: 35%;
}

#player-7 .player-hand {
  left: 90px;
  top: 45px;
}

@media (max-width: 1199px) {
  #player-7 .player-hand {
    left: 70px;
    top: 40px;
  }
}

/* top left */
#player-8 {
  left: calc(20% - 50px);
  left: -webkit-calc(20% - 50px);
  left: -moz-calc(20% - 50px);
  top: 5%;
}

#player-8 .player-hand {
  left: 50px;
}

@media (max-width: 1199px) {
  #player-8 .player-hand {
    left: 40px;
  }
}

/* FEED AND CHAT */

.feed-chat-body {
  height: 280px;
  overflow: auto;
  word-wrap: break-word;
}

@media (max-width: 1199px) {
  .feed-chat-body {
    height: 240px;
  }
}

#chat-user {
  font-weight: bold;
}
