.room-card {
  border: 1px solid #ccc;

  &.active {
    border-color: orange;
    outline: 1px solid orange;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 1.8px 9px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
}

.badge-primary {
  background-color: #009688;
}

.dialogue {
  display: none;
  background: #fff;
  padding: 1%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -10%; 
  cursor: default;
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
  text-align: center;
}