#facebook-button {
  background-color: #3B5998;
  background-image: url("/assets/facebook_image.png");
  background-position: 18px 0px;
  background-size: 27px 40px;
  background-repeat: no-repeat;
  border: medium none;
  height: 40px;
  width: 100%;
  color: rgba(255, 255, 255, 0.84)
}
